# Игнорировать файлы конфигурации IDE
.idea/

# Игнорировать виртуальные окружения Python
venv/
env/

# Игнорировать файлы кэша
__pycache__/

# Игнорировать файлы логов
*.log

# Игнорировать конфиденциальные данные
config/*.env
